<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level]} %d{yyyy-MM-dd HH:mm:ss.SSS} [%.15ct] %c{1} - %msg%n"/>
        </Console>
        <File name="FILE" fileName="pc4ide-core/target/pc4ide.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%.15ct] %C{2} (%F:%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="FILE"/>
        </Root>
        <Logger name="org.perfcake.ide" level="debug" additivity="true" />
    </Loggers>
</Configuration>